<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Transmission Proxy Login</title>
  </head>
  <body>
    <h1>Transmission Proxy Login</h1>
    <ul>
      {{#if config.providers.basic.enabled}}
        {{#if config.providers.basic.visible}}
        <li><a href="auth/basic{{#if redirect_to}}?redirect_to={{urlencode redirect_to}}{{/if}}">Login with username and password</a></li>
        {{/if}}
      {{/if}}
    </ul>
  </body>
</html>
