name: build

on:
  pull_request: {}
  push:
    branches:
      - master
      - renovate/*
    tags-ignore:
      - "**"

jobs:
  build:
    uses: vtavernier/github-workflows/.github/workflows/build-rust-docker.yml@v1
    with:
      docker_test_image_command: /transmission-proxy --help
    secrets:
      docker_password: ${{ secrets.GITHUB_TOKEN }}
      GH_TOKEN: ${{ secrets.GH_TOKEN || secrets.GITHUB_TOKEN }}
